<%= render 'user_levels/form' %>

<hr>

<div class="row row-cols-2 mb-3 text-center">
  <div class="offset-3 mb-5">
    <h2 class="mb-3"><u>Duels (<%= current_user.points %> <%= 'points'.pluralize(current_user.points) %>)</u></h2>

    <div class="col">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th>Date</th>
          <th>Winner</th>
          <th>Winner's points</th>
          <th>Level</th>
        </tr>
        </thead>
        <% current_user.duels.each do |duel| %>
          <tr class="<%= duels_table_row_color(duel) %>">
            <td><%= duel.created_at.to_date %></td>
            <td><%= duel.winner&.username || '(Tie)' %></td>
            <td><%= duel.winner_points %></td>
            <td><%= duel.complexity %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
