<% if duel.winner %>
  <h1><i class="bi bi-award-fill"></i> <%= duel.winner.username %> won and got <%= duel.winner_points %> <%= 'point'.pluralize(duel.winner_points) %></h1>
<% else %>
  <h1><i class="bi bi-award-fill"></i> It's a tie! You got <%= duel.winner_points %> <%= 'point'.pluralize(duel.winner_points) %>.</h1>
<% end %>