<%= turbo_frame_tag dom_id(@duel) do %>
  <%= turbo_stream_from "#{dom_id(@duel)}_summary" %>

  <div class="row row-cols-1 mt-5 mb-5 text-center">
    <div class="col">
      <%= tag.div id: "#{dom_id(@duel)}_summary" do %>
        <% if @duel.finished? %>
          <% if @duel.custom? %>
            <%= render 'ranking', participants_ranking: @participants_ranking %>
          <% else %>
            <%= render 'summary', duel: @duel %>
          <% end %>
        <% else %>
          <%= render 'waiting_for_opponent' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>