<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rails Duels</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Lazy Lambda team">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
          <%= image_tag 'logo.svg' %>
          <span class="fs-4">Rails Duels</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <%= link_to 'Home', root_path, class: 'me-3 py-2 link-body-emphasis text-decoration-none' %>

          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, class: 'me-3 py-2 link-body-emphasis text-decoration-none', data: { turbo_method: :delete } %>
            <span class="py-2">(Logged in as <b><%= current_user.username %> - <%= current_user.level %></b>)</span>
          <% else %>
            <%= link_to 'Sign in', user_session_path, class: 'py-2 link-body-emphasis text-decoration-none' %>
          <% end %>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-body-secondary">&copy; 2023 | A Rails hackathon entry by team <b>Lazy Lambda</b>!</small>
        </div>
      </div>
    </footer>
  </div>
  </body>
</html>
