<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rails Duels</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Lazy Lambda team">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container py-3">
    <div class="content-wrap">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
          <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <%= image_tag 'logo.svg' %>
            <span class="fs-4">Rails Duels</span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <%= link_to 'Leaderboard', leaderboard_path, class: 'me-3 py-2 link-body-emphasis text-decoration-none' %>

            <% if user_signed_in? %>
              <div class="me-3 py-2 link-body-emphasis text-decoration-none">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Duel modes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to 'Quick Duels', root_path, class: 'dropdown-item' %></li>
                  <li><%= link_to 'Custom Duels', custom_duels_path, class: 'dropdown-item' %></li>
                </ul>
              </div>

              <div class="me-3 py-2 link-body-emphasis text-decoration-none">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <b><%= user_details(current_user) %></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to 'Profile', profile_path, class: 'dropdown-item' %></li>
                  <li><%= link_to 'Problem sets', problem_sets_path, class: 'dropdown-item' %></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %></li>
                </ul>
              </div>
            <% else %>
              <%= link_to 'Sign in', user_session_path, class: 'me-3 py-2 link-body-emphasis text-decoration-none' %>
              <%= link_to 'Sign up', new_user_registration_path, class: 'py-2 link-body-emphasis text-decoration-none' %>
            <% end %>
          </nav>
        </div>
      </header>

      <main data-controller="online-status">
        <% if flash[:alert] %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-body-secondary"><b>Rails Duels</b> won Rails Hackathon 2023 <a href="https://railshackathon.com/events/2-supporting-rails/winners">best solo award!</a></small>
        </div>
      </div>
    </footer>
  </div>
  </body>
</html>
